### Default variable file for customreports-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}


env:
  javaoptions: {{nulpchatbot_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{nulpchatbot_replicacount|default(1)}}
repository: {{ image_nulpchatbot_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{nulpchatbot_cpu_req|default('100m')}}
    memory: {{nulpchatbot_mem_req|default('100Mi')}}
  limits:
    cpu: {{nulpchatbot_cpu_limit|default('1')}}
    memory: {{nulpchatbot_mem_limit|default('1024Mi')}}
network:
  port: {{ service_nulpchatbot_port }}
  targetport: {{ service_nulpchatbot_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ nulpchatbot_maxsurge|default('25%') }}
  maxunavailable: {{ nulpchatbot_maxunavailable|default('25%') }}

nulpchatbotjson: |-
 {
    "service_nulpchatbot_port" : "{{ elite_system_db_port }}",
    "nulpchatbot_service_ip" : "{{ elite_system_db_host }}",
    "elite_system_db_username" : "{{ elite_system_db_username }}",
    "elite_system_db_database" : "{{ elite_system_db_database }}",
    "elite_system_db_password" : "{{ elite_system_db_password }}"

 } 
